.home-container {
  padding: 2rem;
  background-color: #f4f4f4; /* Color de fondo suave */
  height: 100vh; /* Hace que la sección sea más alta para probar el scroll */
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
