/*===========================
OPCIONES GENERALES
============================*/

.home {
  background-color: var(--verde);
  color: white;
}

.home h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); /* Sombra con desplazamiento y difusa */
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.home p {
  font-size: 1.3rem;
  line-height: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); /* Sombra con desplazamiento y difusa */
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.home-container {
  height: 100vh;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

/*===========================
OPCIONES IZQUIERDA
============================*/

.home-left-container {
  grid-area: 1 / 1 / 2 / 3;
  padding: 0 2rem 0 6rem;
  text-align: justify;
}

/*===========================
OPCIONES DERECHA
============================*/
.home-right-container {
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  align-items: center;
  height: 100%;
}

.model-home-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*===========================
RESPONSIVE PARA PANTALLAS MENOR A 1600px
============================*/

@media (max-width: 1600px) and (min-width: 1200px) {
  .model-home-container{
    width: 100%;
  }

  .home-left-container {
    padding: 0 0rem 0 4rem;
  }
}

/*===========================
RESPONSIVE PARA PANTALLAS MENOR A 1200px
============================*/
@media  (max-width: 1200px) and (min-width: 768px) {
  .home-container {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    grid-template-rows: auto auto; /* Dos filas automáticas */
    padding: 4rem 2rem;
  }
  
  .home-left-container {
    grid-row: 1; /* Ocupa la primera fila */
  }
  
  .home-right-container {
    grid-row: 2; /* Ocupa la segunda fila */
  }
  

}
/*===========================
RESPONSIVE PARA PANTALLAS MENOR A 768px (móviles)
============================*/

@media (max-width: 768px) {
  .home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .home-left-container {
    padding: 0 1rem;
    margin-top: 4rem;
  }

  .home-right-container {
    width: 100%;
    height: 50%;
  }

  .home h1 {
    font-size: 2rem; /* Reducir aún más el tamaño de la fuente */
  }

  .home p {
    font-size: 1rem; /* Reducir aún más el tamaño del texto */
  }
}

