/* ============================
===== BENEFICIOS ==============
=============================*/
.beneficios {
  color: var(--verde-oscuro);
  position: relative;
  z-index: 1;
  background-color: #dce1de;
  padding: 2rem;
}

.beneficios h1 {
  text-align: center;
}

.beneficios-descripcion {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas iguales */
  gap: 2rem; /* Espacio entre columnas */
  margin-top: 2rem;
  padding: 0 1rem;
}

.beneficios-descripcion p {
  padding: 0 1.5rem;
}

.beneficio-item {
  display: flex;
  flex-direction: column; /* Organiza la imagen y la descripción verticalmente */
  align-items: center; /* Centra el contenido */
}

.beneficio-item img {
  width: 24%;
  height: auto;
  max-width: 300px; /* Controla el tamaño máximo de las imágenes */
}

.beneficio-item p {
  text-align: center; /* Centra el texto debajo de las imágenes */
  margin-top: 1rem; /* Espacio entre la imagen y la descripción */
}
