/* ============================
COMPORTAMIENTO FLOTANTE DE LONAS
============================ */
.contenedorLonasFlotante {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 18rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.642);
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  z-index: 2;
  transition: bottom 0.4s ease;
  pointer-events: auto;
}

/* Estado cerrado */
.contenedorLonasFlotante.cerrado {
  bottom: -14rem;
}

/* Estado abierto */
.contenedorLonasFlotante.abierto {
  bottom: -2rem;
}

/* Al hacer hover, aparece */
.contenedorLonasFlotante.abierto:hover {
  bottom: -2rem;
}

.lonasContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.deslizarArribaPT {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.flechaLonas {
  transition: transform 0.4s ease;
  transform: rotate(180deg);
}

.contenedorLonasFlotante.abierto:hover .deslizarArribaPT .flechaLonas {
  transform: rotate(360deg);
}
/*=============================
ESTILOS PARA LAS LONAS
=============================*/
.selector-colores {
  display: flex;
  gap: 2rem;
}

.color-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  gap: 0.25rem;
}

.color-item h4 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

.color-item picture img {
  height: 5rem;
  width: auto;
}

@media (max-width: 1024px) {
  /* Al hacer hover, aparece */
  .contenedorLonasFlotante:hover {
    bottom: -14rem;
  }
}
