.contenedorPadreSelectPT {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem; /* 5px */
}

.contenedorSelectPT {
  display: flex;
  justify-content: center;
  width: 100%;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.select-personalizado-tutorial {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem; /* 8px */
  font-size: 0.875rem; /* 14px */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05); /* 4px 8px */
  appearance: none;
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none; /* Firefox */
  transition: border 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}


.select-personalizado-tutorial:focus {
  border-color: #999;
  box-shadow: 0 0 0 0.1875rem rgba(0, 0, 0, 0.1); /* 3px */
  outline: none;
}

.select-personalizado-tutorial option:hover {
  background-color: #333;
}

.select-personalizado-tutorial option:disabled {
  display: none;
}

.icono-select {
  position: absolute;
  right: 1rem; /* 16px */
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
  font-size: 1.125rem; /* 18px */
}

/* ============================
MEDIA QUERIES PANTALLAS PEQUEÑAS
============================ */
@media (max-width: 1550px) {
  .select-personalizado-tutorial {
    font-size: 0.75rem;
  }
}

@media (max-width: 1300px){
  .select-personalizado-tutorial {
    font-size: 0.6875rem; /* 11px */
  }
}

@media (max-width: 1200px){
  .select-personalizado-tutorial{
    font-size: 0.6rem;
  }
}