.contenedorPadreSelectPT{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.contenedorSelectPT {
  display: flex;
  justify-content: center;
  width: 100%;
}

.select-wrapper {
  position: relative;
  width: 100%;
}

.select-personalizado-tutorial {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-right: 2.5rem; /* espacio para el icono */
  border: none;
  border-radius: 0.5rem;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  appearance: none;
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none; /* Firefox */
  transition: border 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.select-personalizado-tutorial:focus {
  border-color: #999;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  outline: none;
}

.select-personalizado-tutorial option:hover {
  background-color: #333;
}

.select-personalizado-tutorial option:disabled {
  display: none;
}

.icono-select {
  position: absolute;
  right: 1rem;
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
  font-size: 18px;
}

