/* ======================================
ESTILOS PARA LA SECCION DE NUESTROS TRABAJOS
====================================== */
.nuestrosTrabajos-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  overflow: hidden;
  background-image: url(/assets/Fondo/fondo-resto.png);
}

/* =====================================
ESTILOS PARA EL CARRUSEL DE TRABAJOS
==================================== */

.carrusel-container {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.carrusel-trabajos {
  width: 100%;
  height: 100%;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
