/*==============================================
   ESTILOS GENERALES
============================================== */
.products-container {
  background-image: url(/assets/Logo/fondo-historia.png);
  width: 100%;
  height: 100vh;
  color: white;
  overflow: hidden;
}

.grid-productos-container{
  height: 100%;
  display: flex;
}
/*==============================================
   ESTILOS LEFT SECTION
============================================== */
.left-section {
  height: 100%;
  width: 55%;
}

.model-proyecto-container{
  height: 85%;
  cursor: grab;
}

.model-proyecto-container:active{
  cursor: grabbing;
}

.model-productos{
  height: 100%;
}

.boton-container-productos{
  display: flex;
  justify-content: center;
}

/*==============================================
   ESTILOS RIGHT SECTION
============================================== */
.right-section {
  width: 45%;
  display: flex;
  padding: 6rem 2rem;
  flex-direction: column;
}

.right-section h1{
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.678);
}

.right-section h3{
  font-size: 2rem;
  margin-top: 2rem;
  padding: 0 4rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.678);
}

.right-section p{
  padding: 0 4rem;
  text-align: justify;
}