.botonCerrarMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: rgb(255, 255, 255);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;

  z-index: 4;
}

.botonCerrarMenu:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}
