.botonWhatsappPT {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #ffffffc8;
  color: var(--negro-claro);
  border: none;
  border-radius: 2.8125rem;
  box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  text-decoration: none;


  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;

  outline: none;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
