.botonCerrarMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.botonCerrarMenu:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}
