.botonTutorial {
  background-color: var(--negro-claro);
  padding: 0.5rem 1rem .5rem .7rem;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.botonTutorial:hover {
  background-color: var(--negro-muy-claro);
  transform: translateY(-3px);
  padding: 0.5rem 1rem .5rem .5rem;
  box-shadow: 0 8px 12px rgba(0,0,0,0.2);
}

.iconoTutorial {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.botonTutorial:hover .iconoTutorial {
  transform: translateX(5px);
}
