/* ============================
OPCIONES GENERAL DEL BOTON 
============================ */
.boton-centro-prueba {
  position: relative; /* para posicionar texto detrás */
  display: inline-block; /* mantener contenido ajustado */
}

.boton-producto {
  padding: 1em 3em; /* ya está con em, perfecto */
  font-size: 0.75rem; /* 12px */
  text-transform: uppercase;
  letter-spacing: 0.15rem; /* 2.5px */
  font-weight: 500;
  background-color: #fff;
  border: none;
  border-radius: 2.8125rem; /* 45px */
  box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.1); /* 0px 8px 15px */
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  position: relative; /* para mantener z-index */
  z-index: 1; /* encima del texto */
}

.boton-producto:hover {
  background-color: #283935;
  box-shadow: 0 0.9375rem 0.9375rem #1e2b28; /* 0px 15px 15px */
  color: #fff;
  transform: translateY(-0.5rem); 
}

.boton-producto:active {
  transform: translateY(-0.0625rem);
}

/* ============================
TEXTO DETRÁS DEL BOTÓN Y ANIMACIÓN
============================ */
.texto-detras {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem; /* 12px */
  opacity: 0;
  z-index: 0; /* detrás del botón */
  transition: transform 0.3s ease, opacity 0.3s ease, font-size 0.3s ease;
  pointer-events: none; /* para no interferir con clics */
  color: #ffffff; /* color gris para texto detrás */
  white-space: nowrap; /* para que no haga wrap */
}

.boton-centro-prueba:hover .texto-detras {
  opacity: 1;
  font-size: 1.1rem;
  transform: translate(-50%, 100%); /* baja hacia abajo */
}

/* ============================
PERSONALIZACION MENU PERSONALIZAR TOLDOS
============================ */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 9999;
}

.popup-overlay.mostrar {
  opacity: 1;
  pointer-events: auto;
}

/* ================================
   CONTENIDO DEL POPUP
================================ */
.popup-contenido {
  background-color: #fff;
  width: 90vw;
  height: 90vh;
  padding: 2rem;
  border-radius: 0.9375rem; /* 15px */
  position: relative;
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.4); /* 15px */
  animation: popup-entrada 0.4s ease forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes popup-entrada {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.cerrar-boton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem; /* 24px */
  cursor: pointer;
  color: #333;
  transition: color 0.2s ease;
}

.cerrar-boton:hover {
  color: red;
}
