/* ========================================
        PARTE GENERAL
======================================= */
header {
  font-family: "Open Sans", sans-serif;
}

.nav-container {
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-container.fondo-transparente {
  color: white;
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center; /* Centra los elementos verticalmente */
  background-color: transparent;
  position: fixed; /* Hace que se quede fija en la parte superior */
  top: 0; /* Se coloca en la parte superior de la pantalla */
  left: 0; /* Alinea a la izquierda */
  right: 0; /* Alinea a la derecha */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
}

.nav-container.fondo-no-transparente {
  background-color: var(--negro-claro);
  color: white;
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center; /* Centra los elementos verticalmente */
  position: fixed; /* Hace que se quede fija en la parte superior */
  top: 0; /* Se coloca en la parte superior de la pantalla */
  left: 0; /* Alinea a la izquierda */
  right: 0; /* Alinea a la derecha */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
  box-shadow: 0 4px 10px var(--negro);
}


/* Barra de progreso */
.progress-bar-container {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 5px; /* Altura de la barra */
  background-color: transparent;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.progress-bar {
  height: 100%;
  background-color: white; /* Color de la barra de progreso a blanco */
  width: 0%;
  transition: width 0.1s ease-out;
}

/* ==============================
      PARTE DEL LOGO  
============================== */

.logo-nav-container {
  padding: 1rem;
}

.logo-nav-container img {
  width: 6.25rem;
  cursor: pointer;
}

/* ========================================
        PARTE DEL MENU CENTRAL 
======================================= */

.menu-central-navbar ul {
  display: flex;
  justify-content: space-around; /* Centra los elementos en el espacio disponible */
  flex-grow: 1; /* Hace que ocupe el espacio disponible */
  list-style-type: none;
  gap: 2rem;
  margin: 0; /* Elimina márgenes para evitar desplazamientos no deseados */
  padding: 0;
}

.menu-central-navbar ul a {
  cursor: pointer;
  transition: color 0.3s ease, opacity 0.3s ease; /* Asegúrate de que opacity también esté en la transición */
}

.menu-central-navbar ul a:hover:not(.active_link) {
  color: white;
}


.nav_link:not(.active_link) {
  transition: color 0.3s ease, text-shadow 0.3s ease; /* Aplica la transición a opacity también */
}

.nav_link:hover{
  text-shadow: 1px 0px 5px white;
}


.nav_link.active_link {
  color: var(--verde-claro);
  transition: text-shadow 0.3s ease;
}
.nav_link.active_link:hover{
  text-shadow: 1px 1px 5px var(--verde-claro);
}

/* ========================================
        PARTE DEL IDIOMA
======================================= */

.language-button-container {
  position: relative; /* Necesario para posicionar el dropdown fuera del nav */
  padding: 1rem;
}

/* Botón que abre el menú */
.language-button {
  border: none;
  background: transparent; /* Mismo fondo que el menú */
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  height: 2.5rem; /* Ajusta la altura */
  width: 4rem; /* Ajusta el ancho */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.language-button:hover {
  transform: scale(1.1);
  background-color: var(--negro);
}

/* Menú desplegable */
.language-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  height: 2.5rem; /* Ajusta la altura */
  width: 4rem; /* Ajusta el ancho */
  opacity: 0;
  margin-top: 0.5rem; /* Reduce la separación */
  margin-right: 1rem;
  padding: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  border-radius: 5px;
  text-align: center;
}

/* Mostrar el menú al hacer focus o al pasar el mouse */
.language-button:focus + .language-dropdown,
.language-dropdown:hover {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* Elementos dentro del menú */
.language-dropdown li {
  list-style-type: none;
  transition: background-color 0.3s ease;
  margin: 0.3rem 0; /* Agrega espacio vertical entre opciones */
}

.language-dropdown li button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  font-size: inherit;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.703);
}

/* Ajuste de la bandera */
.language-flag {
  height: 1rem;
}

.language-flag.special {
  padding: 0.5rem;
}

/* ========================================
        MEDIA QUERIES
======================================= */

/* Dispositivos pequeños (móviles) */
@media (max-width: 768px) {
  /* Estilos para el contenedor del menú en pantallas pequeñas */
  .menu.menu-pantalla-pequena {
    position: absolute;
    top: 70px;
    background-color: var(--negro-muy-claro);
    width: 100%;
    height: auto; /* Ajusta la altura para que no esté fija en 10vh */
  }
  
  .nav-container{
    transition: none;
  }

  .menu.menu-pantalla-pequena.menu-cerrado {
    display: none;
  }

  /* Estilos para el menú central en pantallas pequeñas */
  .menu-central-navbar.menu-central-navbar-pequeno {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 2rem 1rem;
    box-shadow: 0 4px 10px var(--negro);
  }

  /* Estilos para la lista de navegación */
  .menu-central-navbar ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    flex-direction: column; /* Hace que la lista se muestre de manera vertical */
    padding: 0;
    margin: 0;
  }

  .language-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
  }

  .language-button:hover {
    background-color: transparent;
  }

  .language-dropdown {
    position: absolute;
    transform: none;
    opacity: 1;
    margin: 0;
    right: 60px;
    padding: 0;
    margin-right: 0;
  }

  /* Mostrar icono de hamburguesa y cerrar */
  .menu-pantalla-pequena .language-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
  }

  .menu-pantalla-pequena .language-button-container .language-button {
    padding: 0 1rem;
  }

  .menu-pantalla-pequena .language-dropdown {
    top: 100%;
    width: 100%;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-out;
  }
}
