.navbar {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.856),
    rgba(0, 0, 0, 0.001)
  );
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

/* Contenedor principal del Navbar */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.menu-izquierda {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 1rem;
}

/* ============================= 
====== ZONA IZQUIERDA ==========
=============================*/
.qlwapp-close {
  position: relative;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  display: inline-block;
}

.qlwapp-close::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.qlwapp-close:hover::after {
  transform: scaleX(1);
}

/* Zona Central (Menú de navegación) */
.menu-centro {
  flex: 2;
  display: flex;
  justify-content: center;
}

.menu-navbar-lista {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.menu-navbar-lista a {
  text-decoration: none;
  color: white;
}

.menu-navbar-lista-item {
  position: relative;
}

/* Subrayado */
.subrayado::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.menu-navbar-lista-item:hover::after {
  transform: scaleX(1);
}

/* Zona Derecha (Selector de idioma y menú hamburguesa) */
.menu-derecha {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

/* ============================ 
      Selector de Idioma
============================ */
.idioma-container {
  position: relative;
}

.idioma-button {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.idioma-button:hover {
  transform: scale(1.1);
}

.idioma-dropdown {
  position: absolute;
  border-top: 0.1rem solid white;
  top: 100%;
  right: 0;
  opacity: 0;
  margin-top: 1.5rem;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.idioma-dropdown li:hover {
  background-color: rgb(0, 0, 0);
}

.idioma-button:focus + .idioma-dropdown,
.idioma-dropdown:hover {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.idioma-dropdown li {
  text-align: center;
  list-style-type: none;
  transition: background-color 0.3s ease;
}

.idioma-dropdown li button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  font-size: inherit;
}

.idioma-button {
  height: 100%;
  width: 100%;
}

.idioma-bandera {
  height: 1rem;
}

.idioma-bandera.especial {
  padding: 0.5rem;
}

/* Botón menú hamburguesa */
.menu-button {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  display: none;
}

/* Responsividad */
@media (max-width: 768px) {
  .menu-button {
    display: block;
  }

  .menu-centro {
    display: none;
    position: absolute;
    top: 4rem;
    left: 0;
    margin-top: 0.2rem;
    border-top: 0.1rem solid white;
    width: 100%;
    background-color: #000000ad;
    padding: 1rem;
    z-index: 10;
  }

  .menu-centro.activo {
    display: flex;
    flex-direction: column;
  }

  .menu-navbar-lista {
    flex-direction: column;
    gap: 0.5rem;
  }

  .menu-navbar-lista-item {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 0.5rem;
  }

  .menu-navbar-lista-item::after {
    display: none;
  }

  .idioma-dropdown {
    background-color: rgba(0, 0, 0, 0.541);
    width: 100%; /* Hace que el menú de idioma ocupe todo el ancho */
    position: fixed; /* Fija el menú en la parte superior */
    top: 0;
    left: 0;
    z-index: 20; /* Asegura que esté por encima del contenido */
    padding: 1rem 0; /* Añade algo de espacio alrededor del contenido */
    margin-top: 3rem;
  }

  .idioma-dropdown li {
    text-align: center;
    list-style-type: none;
    transition: background-color 0.3s ease;
    width: 100%; /* Asegura que cada item ocupe todo el ancho */
  }

  .idioma-dropdown li button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding-top: .1rem;
    font-size: inherit;
    width: 100%; /* Hace que los botones de idioma ocupen todo el ancho */
  }

  .idioma-container.activo .idioma-button {
    display: none;
  }

}
