
:root {
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --verde-logo: #4ba13efc;
  --verde-logo-brillo: #118100fc;
  --verde-oscuro: #3c7e4d;
  --verde-muy-oscuro: #0b3916;
  --verde: #4ad66d;
  --verde-claro: #2fc555;

  --gris: #000000;
  --gris-claro: #242424;

  --blanco: #ffff;
  --blanco-roto: #e4e4dc;
  --negro: rgb(14, 14, 14);
  --negro-oscuro: black;
  --negro-claro: #161616;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

/* Establecer la tipografía global */
body {
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
  background-color: rgba(0, 0, 0, 0.899);
}

html {
  width: 100%;
  height: 100%;
}
