:root{

  /* COLORES */
  --negro: #131313;
  --negro-claro: #272727;
  --negro-muy-claro: #3b3b3b;

  --gris: #808080;

  --verde: #1b4332;
  --verde-claro: #00ff95;
}

body {
  font-family: 'Oswald', sans-serif; /* Reemplaza "Poppins" por cualquier fuente que elijas */
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Evita scroll horizontal si hay desbordamiento */
}

html{
  width: 100%;
}