/* Estilos generales */
.contacto {
  padding: 2rem;
  background-color: rgb(10, 10, 10);
  color: white;
}

.grid-contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.informacion-grid-izquierda {
  grid-column: span 1;
}

.informacion-grid-izquierda h1 {
  font-size: 3rem;
}

.informacion-grid-izquierda .dot {
  font-size: 5rem;
  color: var(--verde-logo);
}

.contenedor-contacto {
  background-color: black;
  box-shadow: 0px 10px 20px rgb(0, 0, 0);
}

.contenedor-formulario {
  position: relative;
  width: 30rem; /* Ajusta según necesites */
  padding: 2rem;
  max-width: 30rem;
}

/* Esquinas superiores */
.contenedor-formulario::before,
.contenedor-formulario::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 8rem;
  border: 2px solid white;
}

.contenedor-formulario::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.contenedor-formulario::after {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

/* Esquinas inferiores */
.esquina {
  position: absolute;
  width: 8rem;
  height: 8rem;
  border: 2px solid white;
}

.esquina.esquina-inferior-izq {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

.esquina.esquina-inferior-der {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.contact-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

/* Formulario */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: rgb(40, 40, 40);
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  background: gray;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 120px;
}

/* Checkbox */
.contact-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.contact-checkbox input {
  transform: scale(1.2);
}

/* Captcha */
.contact-info {
  font-size: 0.8rem;
  text-align: justify;
  margin-top: 1rem;
  color: gray;
}

/* Botón de enviar */
button {
  padding: 0.8rem;
  background: var(--verde-logo);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: var(--verde-oscuro);
}

/* Responsive */
@media (max-width: 768px) {
  .contacto {
    width: 90%;
    padding: 1.5rem;
  }
}
